body {
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
  font-size: 24px;
}

.text {
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
  font-size: 24px;
  height: 32px;
}
/* ビデオ */
.video {
  width: 320px;
  height: auto;
  display: block;
  z-index: 120;
}

#remote {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 320px;
  /* height: 100%; */
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 110;
}

#local {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  overflow-x: hidden;
  z-index: 110;
}

.name {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 120;
}

ul, ol {
  padding: 0;
  position: relative;
}

/* .user_list {
  color: #2d8fdd;
  border-left: solid 6px #2d8fdd;
  background: #f1f8ff;
  margin-bottom: 3px;
  line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;
} */

/* .local_user {
  color: #dd822d;
  border-left: solid 6px #dd822d;
  background: #fcf0da;
  margin-bottom: 3px;
  line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;
} */

.user_list {
  background: #4072B3;
}

.user_title {
  position: relative;
  color:#ffffff;
  width: 320px;
  height: 32px;
/*    padding: 2px 0px 2px 10px; */
  padding: 10px 0px 10px 10px;
  margin: 0px;
  background:#333;
  cursor:pointer;
}

.level_meter {
  position: absolute;
  height: 52px;
  top: 0px;
  right: 0px;
  padding: 0px;
  margin: 0px;
}
